
footer {
  background: linear-gradient(135deg, #1078f7, #f7f7f7); /* Degradado del footer */
  text-align: center; /* Centrar el texto */
  padding: 20px; /* Espacio alrededor del contenido */
  position: relative; /* Para el posicionamiento */
  bottom: 0; /* Asegura que esté al final */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

  
  .footer-image {
    max-width: 100%; /* Ajustar la imagen al tamaño del footer */
    height: auto; /* Mantener la proporción de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }
  
  footer p {
    color: white; /* Color del texto */
    margin: 0; /* Eliminar margen por defecto */
  }